{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <header class="hero">
        <img src="/bild/pingvin.jpg" alt="Pingvin">
        <h1>{{ title }}</h1>
    </header>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti et nisi modi veritatis adipisci, eveniet mollitia accusantium iure id beatae pariatur deserunt aliquam itaque sunt esse eos. Debitis, blanditiis enim.</p>
</main>
{% endblock %}