{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <header>
        <h1>{{ title }}</h1>
        <h2>MENY</h2>
        <h3>
            Måndag: Margherita Magic
        </h3>

Margheritapizza med vår hemlagade tomatsås, färsk mozzarella och basilika.
<p>Kero's fräscha sallad med körsbärstomater, ruccola och vår speciella balsamvinägrett.
<h3>
    Tisdag: Veggie Extravaganza
</h3>

Vegetarisk pizza med knapriga gröna paprikabitar, saftig lök, champinjoner, svarta oliver och rikligt med mozzarella.
<p>Kero's coleslaw-sallad med krispig vitkål, färska morötter och vår unika majonnäsdressing.
<h3>
    Onsdag: BBQ Chicken Bliss
</h3>

BBQ Chicken Pizza med saftigt grillad kyckling, finhackad rödlök, majs och generöst med mozzarella.
<p>Grön sallad med mogen avokado, söta körsbärstomater och vår smakrika ranchdressing.</p>
<h3>
    Torsdag: Ocean's Delight
</h3>

Havets Skatter Pizza med färska räkor, musslor, delikat bläckfisk, vitlökssås och generöst med mozzarella.
<p>Caesar sallad med krispig romansallad, krutonger, hyvlad parmesan och vår krämiga Caesar dressing.</p>
<h3>
    Fredag: Carnivore's Fiesta
</h3>

Carnivore's Fiesta Pizza med hjärtig pepperoni, salami, krispigt bacon, smakrik köttfärs och mozzarella.
<p>Italiensk grönsallad med saftiga oliver, läckra kronärtskockor och vår autentiska italienska dressing.</p>
<h3>    
    Lördag: Capricciosa Celebration
</h3>

Capricciosa Pizza med kvalitetsskinka, saftiga champinjoner, svarta oliver, läckra artiskokhjärtan och mozzarella.
<p>Tomat- och mozzarellasallad med färsk basilika och vår underbara balsamvinägrett.</p>
<h3>    
    Söndag: Kero's Special
</h3>

Kero's Special Pizza med en fantastisk blandning av dina personliga favoritbeläggningar (fråga våra gäster om deras önskemål).
<p>Grekisk sallad med krämig fetaost, krispig gurka, söta körsbärstomater och salta oliver.</p>
    </header>
</main>
{% endblock %}