{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <header class="hero">
        <img src="/bild/vitmustache.jpg" alt="White Beard">
        <h1 class="whitebeardtext">{{ title }}</h1>
    </header>
<p></p>
</main>
{% endblock %}